.dashed-border
{
  -fx-border-width: 3px;
  -fx-border-insets: 5px;
  -fx-border-color: GRAY;
  -fx-border-style: dashed;
  -fx-border-radius: 5px;

  -fx-background-insets: 8px;
  -fx-background-radius: 5px;
}
.ready
{
  -fx-border-color: DARKGREEN;
}
.working
{
  -fx-border-color: DARKORANGE;
}
.drag.highlight
{
  -fx-border-color: LIGHTGREEN !important;
  -fx-background-color: LIGHTGRAY;
}
.drag.blocked
{
  -fx-border-color: DARKRED !important;
  -fx-background-color: rgba(255, 0, 0, 0.13);
}